<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('landingPage.static', filename='css/style.css') }}"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>LOG, IN!</title>
</head>

<style>
  /* SignIn Page css */

  .bg-nav {

    background: #000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000, #000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000, #000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .row{
    margin-top: 7%;
  }
  .card{
    background-color: #000;
  }
  .btn{
    border-radius: 25px;
  }
</style>

<body class="bg-nav">


  <div class="row justify-content-center">
    <!-- row justify-content-center -->
    <div class="card">
      <div class="card-body">

        <form class="form" method="post" action="{{ url_for('.signin')}}">
          <label style="color: aliceblue;">Log in to Twitter</label>
          <input type="text" name="email" placeholder="Phone, email, or username" class="form-control"><br>
          <input type="password" name="password" placeholder="Password" class="form-control"><br><br>
          <input type="submit" value="Log in" class="btn btn-primary btn-block btn-lg">
        </form>
        <p><a href="#">Forgot password?</a><a href="#">Sign up for Twitter</a></p>
      </div>
    </div>
  </div>







  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>