* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  :root {
      --bkg-color: #15202b;
      --wallpaper-color: #3e5366;
    
      --primary-color: white;
      --secondary-text: #8898a6;
    
      --border-color: #38444d;
    
      --pfp-border: 4px;
      
      /* Color accents*/
      --classic-blue: 29, 161, 241;
      --avocado-green: 25, 191, 100;
      --orange-sun: 255, 174, 30;
      /* --- */
      
      --accent-color-rgb: var(--orange-sun);
      --accent-color: rgb(var(--accent-color-rgb));
    }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", sans-serif;
    color:white;
  }

  

  .arrow {
    position:relative;
  }
  .arrow > svg {
    fill: #ffca58;
    width: 2.2rem;
  }
  .arrow::after {
    content:'';
    position:absolute;
    width:2.7em;
    height:2.7em;
    background-color:#f9ac09d9;
    top:-15%;
    left:-7%;
    border-radius:50%;
    transition: opacity 0.3s;
    opacity:0;
  }

  .arrow:hover::after {
    opacity:0.2;
  }
  .header {
    font-size:1.1em;
    font-weight: 800;
    color:white;
  }
  .subtext {
    font-size:0.85em;
    color:#5B6F83;
  }
  .cover {
    background-color:#3e5366;
    height:13rem;
  }
  .cover img {
    width:100%;
    height:100%;
    object-fit:cover;
  }
    .bio {
      padding: 15px;
      padding-bottom: 0px;
    }
    
    .bio > div {
      margin-bottom: 12px;
      color: var(--primary-color);
    }
  .pre-bio {
    display:flex;
    justify-content:flex-end;
    position:relative;
    margin-bottom:1em;
  }

  .info > span{
    margin-left: 5px;
  }
  .avatar {
      background-color: salmon;
      width: calc(130px - 2 * 4px);
      height: calc(130px - 2 * 4px);
      position: absolute;
      bottom: -0em;
      left: 0em;
      border-radius: 50%;
      border: 4px solid #15202b;
      background-size: cover;
  }
  
  
    .edit-profile {
      font-weight: 600;
      border: 1px solid var(--accent-color);
      color: white;
      padding: 0.5em 1.2em;
      border-radius: 99999px;
      cursor: pointer;
      background-color: rgba(var(--accent-color-rgb), 0);
      transition: background-color 0.2s;
    }
    
    .edit-profile:hover {
      background-color: rgba(var(--accent-color-rgb), 0.1);
    }

    /* unvisited link */
a {
  color: #ffca58;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #ffca58;
  text-decoration: underline;
}


  
    .tabs {
      display: grid;
      grid-template-columns: repeat(3,33%);
      align-items: stretch;
      font-weight: 700;
      font-size: 1em;
      color: var(--secondary-text);
    }

  .tabs > div {
    flex-grow:1;
    text-align:center;
    padding:1em;
    position:relative;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgba(var(--accent-color-rbg), 0);
  }
    .tabs > div:hover {
      color: var(--accent-color);
      background-color: rgba(var(--accent-color-rgb), 0.1);
    }
    
    .selected {
      color: var(--accent-color);
      border-bottom: 3px solid var(--accent-color);
    }
    
    
    /* feeds */

    .feed{
        display: flex;
        flex-direction: column;
        /* margin: 13px 2px; */
        padding: 13px 0;
        border:  1px;
    }
    .userid{
        display: flex;
        padding: 0 5px;
    }
    .name-user{
      display: flex;
      padding: 0 2px;
    }
    
    .avatar-mini{
      background-color: salmon;
      width: 50px;
      height: 50px;
      bottom: -0em;
      left: 0em;
      border-radius: 50%;
      border: 4px solid #15202b;
      background-size: cover;
      cursor: pointer;
    }
    .name{
        font-weight: bold;
        margin-right: 6px;
    }

    .caption{
        margin: 2px 2px;
        overflow-wrap: anywhere;    
      }



/* Float Button */
.plusbtn{
  position: fixed !important;
  right: 35px;
  bottom: 40px;
}

#tweetArea{
width: 421px;
height: 190px;
resize: none;
font-size: 18px;
}



/* EDIT PROFILE POPUP */

.saveEdit{
  background: orange;
  font-weight: bolder;
  border: none;
  padding: 10px 25px;
  margin: 2px;
  border-radius: 30px;
  cursor: pointer;
}


.picsEdit{
  position: relative;
}

.coverEdit {
  background-color:#3e5366;
  height:12rem;
  margin-top: 5px;
}

.coverEdit img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.coverEdit:hover{
  opacity: 0.5;
  cursor: pointer;
}


.avatarEdit {
  position: absolute;
  background-color: salmon;
  width: calc(130px - 2 * 4px);
  height: calc(130px - 2 * 4px);
  bottom: -0em;
  left: 0em;
  border-radius: 50%;
  border: 4px solid #15202b;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatarEdit:hover{
  opacity:0.5;
}

