<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('dashBoard.static', filename='css/profile.css') }}">
    <title>Profile</title>
</head>

<body>

    <div class="content" id="content">

        <!-- Navigation   -->
        <div class="navigation">
            <div class="arrow">Arrow</div>
            <div class="header">{{data[0][0][0]}}</div>
            <div class="subtext">69 Tweets</div>
        </div>
        <!--   Cover -->
        <div class="cover">
            {% if data.length==3 %}
            <img src="{{ data[2][1] }}" alt="">
            {% else %}
            <img src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg" alt="">
            {% endif %}
        </div>

        <!--  Bio section  -->
        <div class="bio">

            <div class="pre-bio">
                <!-- DP -->
                {% if data.length==3 %}
                <img src="{{ data[2][0] }}" alt="">

                {% else %}

                <img src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg" class="avatar">
        
                {% endif %}

                <button onclick="openEdit()" class="edit-profile">Edit profile</button>
            </div>

            <div>
                <div class="name">{{data[0][0][0]}}</div>
                <div class="user">@{{data[0][0][1]}}</div>
            </div>

            <div>Hello, there.</div>
            <div>
                <span class="secondary ml-4">📍 Bihar</span>
                <span class="secondary ml-4">🎂 August 14</span>
                <span class="secondary ml-4">Joined March 2021</span> </br>
                <a href="https://www.twitter.com/masteryoda_69" target="_blank">Twitter Link</a>
            </div>

            <div>
                10 <span class="secondary">Following</span>
                6.9K <span class="secondary">Followers</span>
            </div>
        </div>

        <!--   Tabs start     -->
                <div class="tabs" id="tabs">
                    <div class="selected">Tweets</div>
                    <div>Teets & Replies</div>
                    <div>Media</div>
                    <div>Links</div>
                </div>



                <!-- Infinit Feed -->
                {% for i in data[1] %}
                <div class="feed" id="feed">
                    <div class="userid">
                        <div class="avatar-mini"></div>
                        <div class="name">{{data[0][0][0]}}</div>
                        <div class="user">@{{data[0][0][1]}}</div>
                    </div>
                    <div class="caption">
                        {{i[1]}}
                    </div>
                </div>
                {% endfor %}



            </div>





            <!-- Float Button -->
            <div class="floatBtn" onclick="tweetFunc()">+</div>

            <!-- New Tweet Popup -->
            <div id="tweetPopup" class="popupContainer">
                <form class="tweetContainer" method="post" action="{{ url_for('dashBoard.post')}}">
                    <h2>Create a New Tweet</h2>
                    <textarea name="tweetArea" id="tweetArea"></textarea>
                    <button class="tweetBtn" type='submit' onclick="sendTweet()">newTweet</button>
                </form>
            </div>


            <!-- EDIT PROFILE POPUP -->
            <div class="editPopup" id="editPopup">

                <form class="editProfile" enctype="multipart/form-data" action="{{url_for('dashBoard.post')}}"
                    method="post">

                    <div class="editHead">
                        <div class="editHeadLeft">
                            <button class="closeEdit" onclick="closeEdit()"><img
                                    src="https://img.icons8.com/ios/100/fa314a/close-window.png" /></button>
                            <h2>Edit Profile</h2>
                        </div>
                        <div class="editHeadRight">
                            <button type="submit" class="saveEdit" onclick="saveEdit()"><span>Save</span></button>
                        </div>
                    </div>

                    <div class="picsEdit">
                        <div class="coverEdit">
                            <img id="coverbg" onclick="coverPrev()"
                                src="https://pbs.twimg.com/profile_banners/1022839438068469760/1614441096/1500x500"
                                alt="">

                            <input name="cover" accept="image/*" type="file" id="myCover" style="display: none;">

                        </div>
                        <img id="avatarEdit" onclick="dpPrev()" class="avatarEdit"
                            src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg">

                        <!-- <h4>Add Photo</h4> -->
                        <input name="dp" accept="image/*" type="file" id="myDp" style="display: none;">

                    </div>

                    <div id="editForm">

                        <div class="nameEdit edits">
                            <label for="changeName ">Name
                            </label>
                            <input id="changeName" type="text">
                        </div>

                        <div class="bioEdit edits">
                            <label for="changeBio">Bio
                            </label>
                            <input id="changeBio" type="text">
                        </div>

                        <div class="locationEdit edits">
                            <label for="changeLocation">Location
                            </label>
                            <input id="changeLocation" type="text">
                        </div>

                        <div class="linkEdit edits">
                            <label for="changeLink">Website
                            </label>
                            <input id="changeLink" type="text">
                        </div>
                    </div>

                </form>

            </div>


            <!-- LOGOUT -->
            <a href="{{ url_for('landingPage.logout')}}"><button type="submit">Log out</button></a>


            <script>
                //CHANGE PICTURES
                function coverPrev() {
                    var bgInput = document.getElementById('myCover')
                    bgInput.click()

                    var bgPreview = document.getElementById("coverbg")

                    bgInput.addEventListener("change", function () {
                        getImgData(bgInput, bgPreview);
                    })

                }

                function getImgData(input, prev) {
                    // const files = bgInput.files[0];
                    const fileReader = new FileReader();
                    fileReader.readAsDataURL(input.files[0]);
                    fileReader.addEventListener("load", function () {
                        prev.src = this.result;
                    });
                }

                function dpPrev() {
                    var dpInput = document.getElementById('myDp')
                    dpInput.click()

                    var dpPreview = document.getElementById('avatarEdit')

                    dpInput.addEventListener('change', function () {
                        getImgData(dpInput, dpPreview)
                    })

                }



                // EDIT PROFILE FUNCTION
                function openEdit() {
                    document.getElementById("editPopup").style.display = "block"
                }
                function closeEdit() {
                    document.getElementById("editPopup").style.display = "none"
                }
                function saveEdit() {
                    document.getElementById("editPopup").style.display = "none"

                }





                // popup func
                function tweetFunc() {
                    document.getElementById("tweetPopup").style.display = "flex";
                }

                // Create Post Func
                function sendTweet() {
                    const feed1 = document.createElement("div");
                    feed1.className = "feed";

                    const userid1 = document.createElement("div")
                    userid1.className = 'userid'

                    const avatarmini1 = document.createElement("div")
                    avatarmini1.className = "avatar-mini"
                    const name1 = document.createElement("div")
                    name1.innerHTML = "{{data[0][0][0]}}"
                    name1.className = "name"
                    const user1 = document.createElement("div")
                    user1.innerHTML = "@{{data[0][0][1]}}"
                    user1.className = 'user'

                    userid1.appendChild(avatarmini1)
                    userid1.appendChild(name1)
                    userid1.appendChild(user1)

                    const caption1 = document.createElement("div")
                    caption1.className = 'caption'


                    feed1.appendChild(userid1)
                    feed1.appendChild(caption1)


                    text = document.getElementById("tweetArea").value
                    caption1.innerHTML = text;

                    const c = document.getElementById("content");
                    c.insertBefore(feed1, feed)

                    tabs.after(feed1);

                    document.getElementById("tweetArea").value = ""
                    document.getElementById("tweetPopup").style.display = "none";

                }

            </script>

            <!-- Script -->
            <script>
                function main() {
                    const arrow = document.querySelector('.arrow');
                    arrow.innerHTML = '<svg viewBox="0 0 24 24" class="r-61mi1v r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue"><g><path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path></g></svg>';
                }

                window.addEventListener("load", main);

            </script>

</body>


</html>