<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | {{data[0][0][0]}}</title>

    <!-- Title Icon -->
    {% if data|length == 3 %}
    <link rel="icon" href="{{ data[2][0] }}" type="image">
    {% else %}
    <link rel="icon" href="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg" type="image">
    {% endif %}

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('dashBoard.static', filename='css/profile.css') }}">

    <!-- jQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            $("#tweetPopup").on('shown.bs.modal', function () {
                $(this).find('#tweetArea').val('');
            });
        });
    </script>

</head>

<body class='bg-dark row d-flex justify-content-center g-0 m-0 p-0'>

    <div class="col-md-7">


        <!-- Header   -->
        <div class="container d-flex bg-dark  py-2 px-0 sticky-top">

            <div role="button" class="arrow mx-3 text-center align-self-center rounded-circle justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor"
                    class="bi bi-arrow-left " viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </div>
            <div>
                <div class="header ">{{data[0][0][0]}}</div>
                <div class="subtext ">{{ data[1]|length }} newTweets</div>
            </div>

        </div>

        <!-- Cover -->
        <div class="cover">
            {% if data|length == 3 %}
            <img src="{{ data[2][1] }}" alt="">
            {% else %}
            <img src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg" alt="">
            {% endif %}
        </div>

        <!--  Bio section  -->
        <div class="bio">

            <div class="pre-bio">
                <!-- DP -->
                {% if data|length == 3 %}
                <img class="avatar" src="{{ data[2][0] }}" alt="">
                {% else %}
                <img src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg" class="avatar">
                {% endif %}

                <div>
                    <button data-bs-toggle="modal" data-bs-target="#editPopup" class="edit-profile">Edit
                        profile</button>
                    <!-- LOGOUT -->
                    <a href="{{ url_for('landingPage.logout')}}"><button class="edit-profile"
                            type="submit">Logout</button></a>
                </div>
            </div>

            <div>
                <div class="name">{{data[0][0][0]}}</div>
                <div class="user">@{{data[0][0][1]}}</div>
            </div>

            <!-- BIO -->
            <div>{{ data[0][0][4] }}</div>

            <div class="info">
                <span class="m-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg> {{ data[0][0][5] }}</span>

                <span>🎂 {{ data[0][0][3] }}</span>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-link-45deg" viewBox="0 0 16 16">
                        <path
                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                        <path
                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                    </svg>
                    <a href="https://{{ data[0][0][6] }}" target="_blank">{{ data[0][0][6] }}</a>
                </span>
            </div>

            <div>
                <!-- 10 <span class="secondary">Following</span>
                6.9K <span class="secondary">Followers</span> -->
            </div>
        </div>

        <!--   Tabs start     -->
        <div class="tabs" id="tabs">
            <div class="selected">Tweets</div>
            <div>Media</div>
            <div>Likes</div>
        </div>


        <!-- Infinit Feed -->
        {% if data[1]|length >0 %}
        {% for i in data[1] %}
        <div class="feed" id="feed">
            <div class="userid">
                <!-- <div class="avatar-mini"></div> -->
                {% if data|length == 3 %}
                <img class="avatar-mini" src="{{ data[2][0] }}" alt="">
                {% else %}
                <img src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg"
                    class="avatar-mini">
                {% endif %}

                <div>
                    <div class="name-user">
                        <div class="name">{{data[0][0][0]}}</div>
                        <div class="user">@{{data[0][0][1]}}</div>
                    </div>

                    <div class="caption">
                        {{i[1]}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}



        <!-- New Tweet Modal -->

        <!-- Button trigger modal -->
        <div type="button" class="plusbtn bg-warning rounded-circle text-dark" data-bs-toggle="modal"
            data-bs-target="#tweetPopup">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </div>


        <div class="modal fade" id="tweetPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="popupTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content text-white rounded-3 pt-2" style="background-color: black;">

                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="popupTitle">Create yout newTweet</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <form class="tweetContainer" method="post" action="{{ url_for('dashBoard.tweet')}}">

                            <div class="form-floating">
                                <textarea name="tweetArea" class="form-control w-100 text-white" id="tweetArea"
                                    style="resize: none; background-color: black;"></textarea>
                                <label for="floatingTextarea2">write your newTweet</label>
                            </div>

                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="saveEdit">newTweet</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>




        <!-- EDIT PROFILE MODAL -->


        <!-- Modal -->
        <div class="modal fade" id="editPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="editHeader" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

                <form class="modal-content border-0 text-white" enctype="multipart/form-data" action="{{url_for('dashBoard.post')}}" method="post""
                    style="background-color: black;">

                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="editHeader">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body border-0">

                        <div class="picsEdit">
                            <div class="coverEdit">


                                {% if data|length == 3 %}
                                <img id="coverbg" onclick="coverPrev()" src="{{ data[2][1] }}" alt="">
                                {% else %}
                                <img id="coverbg" onclick="coverPrev()"
                                    src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg"
                                    alt="">
                                {% endif %}


                                <input name="cover" accept="image/*" type="file" id="myCover" style="display: none;">

                            </div>



                            {% if data|length == 3 %}
                            <img id="avatarEdit" onclick="dpPrev()" class="avatarEdit" src="{{ data[2][0] }}" alt="">
                            {% else %}
                            <img id="avatarEdit" onclick="dpPrev()"
                                src="https://pbs.twimg.com/profile_images/1403684554829754369/QK7LjgiS_400x400.jpg"
                                class="avatarEdit">
                            {% endif %}



                            <input name="dp" accept="image/*" type="file" id="myDp" style="display: none;">

                        </div>

                        <div class="form-floating my-3">
                            <input type="text" class="form-control text-white" name="uname" placeholder="Name"
                                style="background-color: black;">
                            <label>Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-white" name="changeBio" placeholder="Bio"
                                style="background-color: black;">
                            <label>Bio</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-white" name="loc" placeholder="Location"
                                style="background-color: black;">
                            <label>Location</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-white" name="linkbio" placeholder="Website"
                                style="background-color: black;">
                            <label>Website</label>
                        </div>

                    </div>

                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="saveEdit">save</button>
                    </div>

                </form>

            </div>
        </div>


        <script>
            //CHANGE PICTURES
            function coverPrev() {
                var bgInput = document.getElementById('myCover')
                bgInput.click()

                var bgPreview = document.getElementById("coverbg")

                bgInput.addEventListener("change", function () {
                    getImgData(bgInput, bgPreview);
                })

            }

            function getImgData(input, prev) {
                // const files = bgInput.files[0];
                const fileReader = new FileReader();
                fileReader.readAsDataURL(input.files[0]);
                fileReader.addEventListener("load", function () {
                    prev.src = this.result;
                });
            }

            function dpPrev() {
                var dpInput = document.getElementById('myDp')
                dpInput.click()

                var dpPreview = document.getElementById('avatarEdit')

                dpInput.addEventListener('change', function () {
                    getImgData(dpInput, dpPreview)
                })

            }


        </script>


        <!-- Botstrap JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</body>

</html>