<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Twitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id='left'>
        <img src="https://pngimg.com/uploads/twitter/twitter_PNG1.png" />
    </div>
    
    <div id="right">

        <div id="info">
            <h1>Happening Now.</h1>
            <h2>Join newTwitter today.</h2>
        </div>

        <div id="button">
            <button id="login">Log In</button>
            <button id="signup">Sign Up</button>
        </div>

    </div>

    <footer>
        <a>About</a>
        <a>help Center</a>
        <a>Terms of Service</a>
        <a>Privacy Policy</a>
        <a>Cookie policy</a>
        <a>Ads info</a>
        <a>Blog</a>
        <a>Status</a>
        <a>Careers</a>
        <a>Brand Resources</a>
        <a>Advertising</a>
        <a>Marketing</a>
        <a>newTwitter for Business</a>
        <a>Developers</a>
        <a>Directory</a>
        <a>Settings</a>
        <a>© 2021 Twitter, Inc.</a>
    </footer>
</body>

</html>